<div id="footer" class="panel">
	<div class="panel-footer">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-sm-4">
			  
			  <!-- <p>We are part of the <a href="https://www.iitg.ac.in/dsai/home">School of Data Science &amp Artificial Intelligence</a>, <a href="https://www.iitg.ac.in/">IIT Guwahati</a>.</p> -->
			  <p>&copy 2024 SPIN Lab<br/><a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">&#128153; Acknowledgement</a>
				<br></p>
			  
			  <p>  </p><p>
						
			  
		  </div>
		  <div class="col-sm-4">
			<!-- Funding:<br />
			- <a href="https://www.iitg.ac.in/dsai/">Mehta Family Foundation</a> -->
		  </div>
		  <div class="col-sm-4">
			Contact:<br />
			Room 412, Third Floor<br />
			HSS Dept. Building, Core-2<br />
			IIT Guwahati, 781039 Assam, India<br />
			Email: neerajs[AT]iitg[DOT]ac[DOT]in
			  (<a href="https://www.google.com/maps/place/Department+of+Humanities+and+Social+Sciences/@26.1864904,91.6897227,18.64z/data=!4m6!3m5!1s0x375a5ac35c8aaafd:0x3f734ff4fd7415ec!8m2!3d26.1863596!4d91.691022!16s%2Fg%2F11g8cn_782!5m1!1e1?entry=ttu&g_ep=EgoyMDI1MDkwNy4wIKXMDSoASAFQAw%3D%3D">Maps</a>)
		  </div>
		</div>
	  </div>
	</div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
  