<div id="footer" class="panel">
	<div class="panel-footer">
	  <div class="container-fluid">
		<div class="row">
		  <div class="col-sm-4">
			  
			  <!-- <p>We are part of the <a href="https://www.iitg.ac.in/dsai/home">School of Data Science &amp Artificial Intelligence</a>, <a href="https://www.iitg.ac.in/">IIT Guwahati</a>.</p> -->
			  <p>&copy 2024 SPIN Lab<br/><a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">&#128153; Acknowledgement</a>
				<br></p>
			  
			  <p>  </p><p>
						
			  
		  </div>
		  <div class="col-sm-4">
			<!-- Funding:<br />
			- <a href="https://www.iitg.ac.in/dsai/">Mehta Family Foundation</a> -->
		  </div>
		  <div class="col-sm-4">
			Contact:<br />
			412 | Third Floor | Core-2 <br/>Mehta Family School of DS &amp AI<br />
			IIT Guwahati, 781039 Assam, India<br />
			  (<a href="https://www.google.com/maps/search/Computer+and+communication+centre+iit+guwahati/@26.1894524,91.6754898,15z">Maps</a>)
		  </div>
		</div>
	  </div>
	</div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
  